/* Header and Navigation Styles */
header {
    padding: 0;
    margin-bottom: 20px;
    z-index: 2000;
}

.headerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 10px 20px;
    position: relative;
}

.headerGrid .col {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    grid-column: 3 / 4;
    margin-left: 20px;
}

.navbtn,
.btn {
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    padding: 10px 20px;
    color: white;
    font-size: 1.2rem;
    transition: background-color 0.2s ease-in-out;
    margin-right: 20px;
}

.navbtn:hover,
.btn:hover {
    background-color: #ffcc00;
    color: black;
    border-color: #0075be;
    border-style: solid;
}

.navigation a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    border: solid 2px black;
}

.navigation a:hover {
    color: black;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 200px;
}

/* Burger Menu Icon Styling */
.burgermenu {
    display: none;
    background: black;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    margin-left: auto;
    border: solid 2px transparent;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
}

.line {
    height: 3px;
    background: white;
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
}

.burgermenu:hover {
    background-color: #ffcc00;
    color: black;
    border-color: #0075be;
}

.burgermenu:hover .line {
    background-color: black;
}

.burgermenu span {
    display: block;
    width: 100%;
    background-color: #ffffff;
    margin: 4px 0;
    box-sizing: border-box;
}


/* Dropdown Menu Styling */
.navdropdown {
    display: none;
    top: 60px;
    right: 20px;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    z-index: 3000;
    position: absolute;
    margin-top: 10px;
}

.navdropdown.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
}

.navdropdown a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    transition: background-color 0.5s ease-in-out;
    border-radius: 10px;
}

.navdropdown a:hover {
    background-color: #ffcc00;
    color: black;
}

/* Media Queries */
@media (min-width: 1025px) {
    .logo {
        grid-column: 2 / 3;
    }
}

@media (max-width: 768px) {
    .headerGrid .navigation {
        display: none;
    }

    .burgermenu {
        display: block;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .headerGrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .navbtn {
        font-size: 0.8rem;
    }

    .logo img {
        width: 150px;
    }

    .navigation {
        display: none;
    }

    .burgermenu {
        display: block;
    }
}

@media (max-width: 480px) {
    nav {
        display: none;
    }

    .headerGrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .navbtn {
        font-size: 0.5rem;
    }

    .logo img {
        width: 100px;
    }
}