/* Header and Navigation Styles */
header {
    padding: 0;
    margin-bottom: 20px;
    z-index: 2000;
}

.headerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 10px 20px;
}

.headerGrid .col {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-around;
    grid-column: 3/4;
    grid-row: 1/1;
    justify-content: right;
    margin-left: 20px;
}

.navbtn,
.btn {
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    padding: 10px 20px;
    color: white;
    font-size: 1.2rem;
    transition: background-color 0.2s ease-in-out;
    margin-right: 20px;
}

.navbtn:hover,
.btn:hover {
    background-color: #ffcc00;
    color: black;
    border-color: #0075be;
    border-style: solid;
}

.navigation a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    border: solid 2px black;
}

.navigation a:hover {
    color: black;
}

.logo {
    display: flex;
    justify-content: space-around;
}

.logo img {
    width: 200px;
}

/*Burger Menu Icon Styling*/

.burgermenu {
    display: none;
    background: black;
    height: 40px;
    width: 40px;
    border-color: black;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    margin-left: auto;
}

.burgermenu span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
    margin: 5px;
}

/* Dropdown Menu styling*/

/* Hide the section by default */
section {
    display: none;
    top: 60px;
    right: 20px;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    z-index: 3000;
    position: absolute;
    margin-top: 10px;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
}

/* Show the section when it has the active class */
section.active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    transition: max-height 0.5s ease-in, padding 0.5s ease-in;

}

section a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    transition: background-color 0.5s ease-in-out;
}

section a:hover {
    background-color: #ffcc00;
    color: black;
    border-radius: 10px;
}

@media (min-width: 1025px) {
    .logo {
        grid-column: 2/3;
    }
}

@media (max-width: 768px) {
    .headerGrid .navigation {
        display: none;
    }

    .burgermenu {
        display: block;
    }

}

@media (min-width: 481px) and (max-width: 768px) {
    .headerGrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .navbtn {
        font-size: 0.8rem;
    }

    .logo img {
        width: 150px;
    }

    .navigation {
        display: none;
    }

    .burgermenu {
        display: block;
    }
}

@media (max-width: 480px) {
    nav {
        display: none;
    }

    .headerGrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .navbtn {
        font-size: 0.5rem;
    }

    .logo img {
        width: 100px;
    }
}