* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
    font-family: 'karla', sans-serif;
}

#canvas1 {
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 507px;
    
}


body {
    background-color: #c3c1c1;
  }