* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: black; */
    font-family: 'karla', sans-serif;
}

.artwork {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    background-color: #000000;
    justify-items: center;
    padding: 2%;
    margin: 5%;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

.artwork .col {
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
}


#canvas1 {
    border: 2px solid white;
    width: auto;
    height: auto;
    
}

#canvas2 {
  border: 2px solid white;
  width: auto;
  height: auto;
  
}

#canvas3 {
  border: 2px solid white;
  width: auto;
  height: auto;
  
}

#canvas4 {
  border: 2px solid white;
  width: auto;
  height: auto;
  
}

#canvas5 {
  border: 2px solid white;
  width: auto;
  height: auto;
  
}

#canvas6 {
  border: 2px solid white;
  width: auto;
  height: auto;
  
}

#canvas7 {
  border: 2px solid white;
  width: auto;
  height: auto;
  
}

#canvas8 {
  border: 2px solid white;
  width: auto;
  height: auto;
  
}

#canvas9 {
  border: 2px solid white;
  width: auto;
  height: auto;
  
}

body {
  width: 100%;
    background-color: #c3c1c1;
  }

    /* styling of the header and navbar */
header{
    background-color: #000000;
    padding: 0;
    margin-bottom: 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    z-index: 2000;
  }
  
  .navigation {
    display: flex;
    justify-content:center;
    gap: 50px;
    align-items: center;
    padding: 20px 20px;
    background-color: #000000;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
  }
  
  .navigation a{
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
  }