
/* General Reset and Body Styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'karla', sans-serif;
  }

body {
    background-color: #c3c1c1;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;   
    
}

main {
  display: flex;
}

/* Header Styling*/ 

header{
  padding: 0;
  margin-bottom: 20px;
  z-index: 2000;
}

.headerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 10px 20px;
}

.headerGrid .col {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: space-around;
  grid-column: 3/4;
  grid-row: 1/1;
  justify-content: right;
}

.navbtn, .btn {
  cursor: pointer;
  border-radius: 10px;
  background-color: black;
  padding: 10px 20px;
  color: white;
  font-size: 1.2rem;
  transition: background-color 0.2s ease-in-out;
}

.headerGrid .logo {
  display: flex;
  justify-content: space-around;
  grid-column: 2/3;
}


.logo img {
  width: 200px;
}

.logo img:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}

a {
  text-decoration: none;
  
  }
  
  .navbtn {
  margin-right: 20px;
  }

/* Buttopn Styling */

#playAgain {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  width: auto;
  height: auto;
}

.playAgain {
display: flex;
background-color: black;
color: white;
margin: auto;
margin-top: 10px;
text-decoration: none;
}




.btn, .playAgain {
cursor: pointer;
border-radius: 10px;
background-color: black;
padding: 10px 20px;
transition: background-color 0.2s ease-in-out;
color: white;
font-size: 1.2rem;
}


button:hover, button:active, button:focus, button:visited {
background-color: #FFCC00;
color: black;
border-color: #0075BE;
transform: scale(1.05);
}

/* Artwork Section Styling */

.artwork {
    display: flex;
    background-color: #000000;
    justify-content: center;
    align-content: center;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}


#canvas1 {
    border: 2px solid white;
    width: 976px;
    height: 549px;
    
}

#team {
  margin-right: 20px;
}

.navigation a {
  text-decoration: none;
  font-size: 1rem;
}

.btn:link {
  text-decoration: none;
  
}

/* Link Styling */

a:visited {
  text-decoration: none;
  color: white;
}
a:visited:hover {
  text-decoration: none;
  color: black;
}