* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'karla', sans-serif;
  }
  body {
    background-color: #c3c1c1;
  }

.flexObject{
  display: flex;
  justify-content: center;
  align-items: center;

}
#search{
 padding: 10px 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  margin: 20px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
}
  .container {
  width: 100%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  }

  .card {
    position: relative;
    width: calc(25% - 80px);
    padding: 30px 20px;
    border-radius: 10px;
    background-color: #ffffff;
  }
  .card:hover {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    transition: all 0.5s ease-in-out;
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    
  }
  
  .pokemonImg {
    display: block;
    width: 180px;
    max-height: 200px;
    position: relative;
    margin: 20px auto;
  }
  .hp {
    width: 80px;
    background-color: #ffffff;
    text-align: center;
    padding: 8px 0;
    border-radius: 30px;
    margin-left: auto;
    font-weight: 400;
  }
  .poke-name {
    text-align: center;
    font-weight: 400;
    color: #ffffff;
  }
  .types {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 40px 0;
  }
  .hp span,
  .types span {
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 600;
  }
  .types span {
    padding: 5px 20px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 2000;
  }
  .stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  .stats p {
    color: #ffffff;
  }

  /* styling of the header and navbar */
header{
  background-color: #000000;
  padding: 0;
  margin-bottom: 20px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #000000;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
   margin-bottom: 20px;
}

/* Styling for typeselection */

.typeselection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Type icons colors and shadows */


.bug {
  background: #92BC2C;
  box-shadow: 0 0 10px #92BC2C;
}

.dark {
  background: #595761;
  box-shadow: 0 0 10px #595761;
}

.dragon {
  background: #0C69C8;
  box-shadow: 0 0 10px #0C69C8;
}

.electric {
  background: #F2D94E;
  box-shadow: 0 0 10px #F2D94E;
}

.fire {
  background: #FBA54C;
  box-shadow: 0 0 10px #FBA54C;
}

.fairy {
  background: #EE90E6;
  box-shadow: 0 0 10px #EE90E6;
}

.fighting {
  background: #D3425F;
  box-shadow: 0 0 10px #D3425F;
}

.flying {
  background: #A1BBEC;
  box-shadow: 0 0 10px #A1BBEC;
}

.ghost {
  background: #5F6DBC;
  box-shadow: 0 0 10px #5F6DBC;
}

.grass {
  background: #5FBD58;
  box-shadow: 0 0 10px #5FBD58;
}

.ground {
  background: #DA7C4D;
  box-shadow: 0 0 10px #DA7C4D;
}

.ice {
  background: #75D0C1;
  box-shadow: 0 0 10px #75D0C1;
}

.normal {
  background: #A0A29F;
  box-shadow: 0 0 10px #A0A29F;
}

.poison {
  background: #B763CF;
  box-shadow: 0 0 10px #B763CF;
}

.psychic {
  background: #FA8581;
  box-shadow: 0 0 10px #FA8581;
}

.rock {
  background: #C9BB8A;
  box-shadow: 0 0 10px #C9BB8A;
}

.steel {
  background: #5695A3;
  box-shadow: 0 0 10px #5695A3;
}

.water {
  background: #539DDF;
  box-shadow: 0 0 10px #539DDF;
}

.icon:hover {
  transform: scale(1.25);
  transition: ease-in-out 0.3s;
}