/* Styles for the loader animation */

.loader-container {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: black;
  display: grid;
  place-content: center;
}


.loader {
  width: 4rem;
  height: 4rem;
  border: .4rem solid #0075BE;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: #FFCC00;
  border-radius: 50%;
  animation: .8s ease infinite alternate spinner;
}

.loader-container.hidden {
  opacity: 0;
  visibility: hidden;
} 

#page-content {
  opacity: 0;
  transform: translate3d(0,-1rem,0);
}

#page-content.visible {
  opacity: 1;
  transform: translate3d(0,0,0);
}

@keyframes spinner {
  to {
    transform: rotate(1turn) scale(1.2);
  }
  
}

/* Styles for the overall page */

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'karla', sans-serif;
  }
  body {
    background-color: #c3c1c1;
  }

.flexObject{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  /* margin-top: 60px; */
}

#search{
 padding: 10px 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  margin: 20px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
}
  .container {
  width: 100%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  }

  .card {
    position: relative;
    width: calc(25% - 80px);
    padding: 30px 20px;
    border-radius: 10px;
  }

  .card:hover {
    transform: translateY(-10px) scale(1.05);
    transition: all 0.2s ease-in-out;
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    
  }

  .pokemonImg {
    display: block;
    width: 50%;
    max-height: 200px;
    position: relative;
    margin: 20px auto;
  }

  .hp {
    width: 80px;
    background-color: #ffffff;
    text-align: center;
    padding: 8px 0;
    border-radius: 30px;
    margin-left: auto;
    font-weight: 400;
  }
  .poke-name {
    text-align: center;
    font-weight: 400;
    color: #ffffff;
  }
  .types {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0 40px 0;
    width: 100%;
  }
  .hp span,
  .types span {
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 600;
  }

  .types span {
    padding: 5px 20px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 2000;
  }
  .stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  .stats p {
    color: #ffffff;
    font-size: 18px; /* Adjust size for the stat value */
    margin-bottom: 10px; /* Adds space between stat entries */ 
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .statLabel{
    font-size: 12px; /* Smaller font size for the label */
    color: #ccc; /* Lighter color for the label if needed */
    top: -20px; /* Positions it above the value */
    left: 0;
    width: 100%;
    text-align: center; /* Centers the label */
  }

  .hpLabel{
    font-size: 14px;
    font-weight: 600;
    color: #010101;
  }

  .statValue {
    font-size: 16px; /* Explicit size for the value */
    color: #fff; /* Color of the value */
  }


  /* styling of the header and navbar */
header{
  padding: 0;
  margin-bottom: 20px;
  z-index: 2000;
}

.headerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 10px 20px;
}

.headerGrid .col {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: space-around;
  grid-column: 3/4;
  grid-row: 1/1;
  justify-content: right;
}

.btn {
  cursor: pointer;
  border-radius: 10px;
  background-color: black;
  padding: 10px 20px;
  transition: background-color 0.2s ease-in-out;
  color: white;
}

.btn:hover, .btn:active, .btn:focus, a:visited, .btn:link, a:visited:hover, a:focus, a:active {
  background-color: #FFCC00;
  color: black;
  border-color: #0075BE;
  transform: scale(1.05);
}

#search:hover, #search:active, #search:focus {
  background-color: #FFCC00;
  color: black;
  border-color: #0075BE;
  transform: scale(1.05);
}



.navigation a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}

.navigation a:hover {
  color: black;
}

.btn:link, a:visited, a:visited:hover, a:focus, a:active {
  text-decoration: none;
}

#team {
  margin-right: 20px;
}

/* Styling for the logo */

.headerGrid .logo {
  display: flex;
  justify-content: space-around;
  grid-column: 2/3;
}


.logo img {
  width: 200px;
}

.logo img:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}

/* Styling for typeselection */

.typeselection {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  white-space: nowrap;
  gap: 20px;
  width: 100%;
}

.type-button{
  flex-shrink: 0;
}

/* Type icons colors and shadows */


.bug {
  background: #26de81;
  box-shadow: 0 0 10px #26de81;
}

.dark {
  background: #595761;
  box-shadow: 0 0 10px #595761;
} /*color of backgroudn for proof to che*/

.dragon {
  background: rgb(255, 234, 167);
  box-shadow: 0 0 10px #ffeaa7;
}

.electric {
  background: #fed330;
  box-shadow: 0 0 10px #fed330;
}

.fire {
  background: #f0932b;
  box-shadow: 0 0 10px #f0932b;
}

.fairy {
  background: #FF0069;
  box-shadow: 0 0 10px #FF0069;
}

.fighting {
  background: #30336b;
  box-shadow: 0 0 10px #30336b;
}

.flying {
  background: #81ecec;
  box-shadow: 0 0 10px #81ecec;
}

.ghost {
  background: #a55eea;
  box-shadow: 0 0 10px #a55eea;
}

.grass {
  background: #00b894;
  box-shadow: 0 0 10px #00b894;
}

.ground {
  background: #EFB549;
  box-shadow: 0 0 10px #EFB549;
}

.ice {
  background: #74b9ff;
  box-shadow: 0 0 10px #74b9ff;
}

.normal {
  background: #95afc0;
  box-shadow: 0 0 10px #95afc0;
}

.poison {
  background: #6c5ce7;
  box-shadow: 0 0 10px #6c5ce7;
}

.psychic {
  background: #a29bfe;
  box-shadow: 0 0 10px #a29bfe;
}

.rock {
  background: #2d3436;
  box-shadow: 0 0 10px #2d3436;
}

.steel {
  background: #7f8fa6;
  box-shadow: 0 0 10px #7f8fa6;
}

.water {
  background: #0190FF;
  box-shadow: 0 0 10px #0190FF;
}

.icon:hover {
  transform: scale(1.5);
  transition: ease-in-out 0.3s;
}

@media(min-width: 769px) and (max-width: 1024px){
  .flexObject{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
    margin-bottom: 20px;
  }
  .container{
    gap: 30px;
    width: calc(100% - 40px);
    margin: 0 20px;
  }
  .card {
    position: relative;
    width: calc(33% - 60px);
    padding: 30px 20px;
    border-radius: 10px;
  }
}



/*Mediaquery for Ipad*/
@media (min-width: 481px) and (max-width: 768px) {
  #search{
    margin: 0;
  }

  .flexObject{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
    margin-bottom: 20px;
  }
  .container{
    gap: 20px;
    width: calc(100% - 40px);
    margin: 0 20px;
  }
  .card {
    position: relative;
    width: calc(50% - 50px);
    padding: 30px 20px;
    border-radius: 10px;
  }
}


/*Mediaquery for Mobile Devices*/
@media (max-width: 480px) {
  .container{
    gap: 20px;
    width: calc(100% - 40px);
    margin: 0 20px;
  }
  .card {
    position: relative;
    width: calc(100% - 40px);
    padding: 30px 20px;
    border-radius: 10px;
  }
}

