/*General Style*/

* {
  padding: 0;
  margin: 0;
  font-family: 'karla', sans-serif;
}

body {
  background-color: #c3c1c1;
}

/*Team Display*/

.flexObject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

/* over all Style of the Cards*/
.card {
  position: relative;
  width: 25%;
  padding: 30px 20px;
  border-radius: 10px;
  height: fit-content;
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);

}

/*style of individual Cards*/

#card1 {
  background: radial-gradient(circle at 50% 0%, rgb(240, 147, 43) 36%, rgb(0, 0, 0) 36%);
}

#card2 {
  background: radial-gradient(circle at 50% 0%, rgb(255, 234, 167) 36%, rgb(0, 0, 0) 36%);
}

#card3 {
  background: radial-gradient(circle at 50% 0%, rgb(162, 155, 254) 36%, rgb(0, 0, 0) 36%);
}

/*Cardelemet Styles*/
#card1:hover,
#card2:hover,
#card3:hover {
  background: black;
  color: white;
}

#card1 .hoverText,
#card2 .hoverText,
#card3 .hoverText,
#card1:hover .cardContent,
#card2:hover .cardContent,
#card3:hover .cardContent {
  transform: scale(4);
  transition: transform 0.5s ease-in-out;
  display: none;
}

#card1:hover .hoverText,
#card2:hover .hoverText,
#card3:hover .hoverText,
#card1 .cardContent,
#card2 .cardContent,
#card3 .cardContent {
  display: block;
  transform: translateY(-10px) scale(1.05);
  transition: all 0.5s ease-in-out;
}

.hoverText p {
  transition: all 0.5s ease-in-out;
  position: relative;
  padding: 25px 15px;
  font-size: 1em;
  color: white;
  text-align: center;
}

.hoverText img {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
  width: auto;
  height: 100%;
  position: relative;
  margin: 20px auto;
}

.flexObject img {
  height: auto;
  max-width: calc(100% - 20px);
  padding: 0 10px 0 10px;
  position: relative;
}

.poke-name {
  font-size: 1.5em;
  margin: 10px 0;
}

.stats span {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  color: white;
  font-weight: bold;
  align-content: baseline;
}

.stats p {
  margin: 5px 0;
}

.statLabel {
  font-weight: bold;
}

.statValue {
  margin-left: 10px;
}

.pokemonImg {
  display: block;
  position: relative;
  margin: 20px auto;
}

.poke-name {
  text-align: center;
  font-weight: 400;
  color: #ffffff;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.stats p {
  color: #ffffff;
  font-size: 18px;
  /* Adjust size for the stat value */
  margin-bottom: 10px;
  /* Adds space between stat entries */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statLabel {
  font-size: 12px;
  /* Smaller font size for the label */
  color: #ccc;
  /* Lighter color for the label if needed */
  top: -20px;
  /* Positions it above the value */
  left: 0;
  width: 100%;
  text-align: center;
  /* Centers the label */
}

.statValue {
  font-size: 16px;
  /* Explicit size for the value */
  color: #fff;
  /* Color of the value */
}




@media (min-width: 1025px) {
  .logo {
    grid-column: 2/3;
  }
}


@media(min-width: 769px) and (max-width: 1024px) {
  .flexObject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
    margin-bottom: 20px;
  }

  .container {
    gap: 30px;
    width: calc(100% - 40px);
    margin: 0 20px;
  }

  .card {
    position: relative;
    width: calc(33% - 60px);
    padding: 30px 20px;
    border-radius: 10px;
  }
}



/*Mediaquery for Ipad*/
@media (min-width: 481px) and (max-width: 768px) {
  #search {
    margin: 0;
  }

  .flexObject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
    margin-bottom: 20px;
  }

  .container {
    gap: 20px;
    width: calc(100% - 40px);
    margin: 0 20px;
  }

  .card {
    position: relative;
    width: calc(50% - 50px);
    padding: 30px 20px;
    border-radius: 10px;
  }
}


/*Mediaquery for Mobile Devices*/
@media (max-width: 480px) {
  .container {
    gap: 20px;
    width: calc(100% - 40px);
    margin: 40px 20px 0 20px;
  }

  .card {
    position: relative;
    width: calc(100% - 40px);
    padding: 30px 20px;
    border-radius: 10px;
  }
}